  <h1>{{title}}</h1>
  <input placeholder="Username"/>
  <input type="password" placeholder="Password"/>
  <button class="primary-button">Login</button>


<!-- save for later when attempting to update style using material ui -->
<!-- <mat-form-field appearance="outline">
  <input matInput placeholder="Username"/>
</mat-form-field>
<mat-form-field appearance="outline">
  <input matInput type="password" placeholder="Password"/>
</mat-form-field>
<button mat-raised-button class="primary-button">Login</button> -->


